.inter-font{
	font-family:"Inter",sans-serif;
	font-optical-sizing:auto;
	font-weight:400; /*	100 - 900	*/
	font-style:normal;
}
.bebas-neue-regular{
	font-family:"Bebas Neue",sans-serif;
	font-weight:400;
	font-style:normal;
}
:root{
	font-size:16px;
	--bg-darkest:oklch(0.125 0.01 90);
	--bg-dark:oklch(0.15 0.01 90);
	--bg:oklch(0.2 0.01 90);
	--bg-light:oklch(0.25 0.01 90);
	--bg-lightest:oklch(0.3 0.01 90);
	--border:oklch(0.4 0.01 90);
	--border-light:oklch(0.55 0.01 90);
	--text-dead:oklch(0.6 0 0);
	--text-darkest:oklch(0.7 0 0);
	--text-dark:oklch(0.8 0 0);
	--text-muted:oklch(0.85 0 0);
	--text:oklch(0.9 0 0);
}
body{
	background-color:var(--bg-darkest);
	*{
		margin:0;
		padding:0;
	}
	h1{
		font-weight:normal;
		font-size:2rem;
	}
	h2{
		font-size:1.75rem;
	}
	h3{
		font-weight:normal;
		font-size:1.25rem;
	}
	h4{
		font-weight:normal;
		font-size:1rem;
	}
}
.box{
	display:grid;
	max-width:90%;
	margin-inline:auto;
	background-color:var(--bg-dark);
	border:0.5px solid var(--border);
	border-radius:20px;
	padding-inline:1rem;
	padding-block:0.5rem;
}
.navigation{
	grid-template-columns:1.5fr 0.75fr 1fr auto;
	gap:1rem;
	align-items:center;
	margin-top:3rem;
	.iconplaceholder{
		color:var(--text);
		margin-top:0.25rem;
		margin-left:1rem;
	}
	.menu{
		cursor:pointer;
		width:7rem;
		display:grid;
		align-items:center;
		grid-template-columns:auto auto;
		background:transparent;
		color:var(--text-darkest);
		border:none;
		border-radius:12px;
		padding-inline:1rem;
		padding-block:0.5rem;
		svg{
			fill:var(--text-darkest);
			width:1.5rem;
			height:1.5rem;
		}
	}
	.menu:hover{
		svg{
			fill:var(--text-muted);
		}
		background-color:var(--bg-lightest);
		color:var(--text-muted);
	}
	.search{
		cursor:pointer;
		width:8rem;
		display:grid;
		align-items:center;
		grid-template-columns:auto auto;
		background:transparent;
		color:var(--text-darkest);
		border:none;
		border-radius:12px;
		padding-inline:1rem;
		padding-block:0.5rem;
		svg{
			fill:var(--text-darkest);
			width:1.5rem;
			height:1.5rem;
		}
	}
	.search:hover{
		svg{
			fill:var(--text-muted);
		}
		background-color:var(--bg-lightest);
		color:var(--text-muted);
	}
	.iconset{
		display:grid;
		grid-template-columns:auto auto auto;
		gap:0.75rem;
		margin-right:1.25rem;
	}
	.icon{
		cursor:pointer;
		display:grid;
		color:var(--text-darkest);
		background:transparent;
		border-radius:12px;
		padding-inline:0.5rem;
		padding-block:0.5rem;
		svg{
			fill:var(--text-darkest);
			width:1.75rem;
			height:1.75rem;
		}
	}
	.icon:hover{
		svg{
			fill:var(--text-muted);
		}
		background-color:var(--bg-lightest);
		color:var(--text-muted);
	}
}
