.tierlist{
	margin-top:1.75rem;
	grid-template-columns:auto;
	align-items:center;
}
.table{
	margin-block:0.5rem;
	margin-inline:0.25rem;
	display:grid;
	grid-template-columns:repeat(5,1fr);
	gap:0.5rem;
	color:var(--text);
}
.tier1, .tier2, .tier3, .tier4, .tier5{
	min-width:0;
}
.top{
	border-radius:15px 15px 0px 0px;
	background-color:var(--bg);
	text-align:center;
	padding-block:0.75rem;
}
.name{
	display:grid;
	align-items:center;
	grid-template-columns:0.25fr 1.75fr;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-inline:1rem;
	padding-block:0.5rem;
	background-color:var(--bg-lightest);
	margin-top:0.25rem;
	margin-bottom:0.25rem;
	img{
		display:grid;
		align-items:center;
		max-width:1.25rem;
		max-height:1.25rem;
	}
}
.low{
	background-color:var(--bg-light);
}
